//  Typography etc

$type-scale: (
  small: (
    700: 1rem,
    800: 1.125rem,
    900: 1.375rem,
  ),
  large: (
    900: 3.5rem,
  )
);


.fw-bold{
  font-weight: 600;
}

.fw-regular{
  font-weight: 400;
}

.fw-light{
  font-weight: 300;
}